@import '~bulma/sass/utilities/_all';
.wide {
  display: block;
  justify-content: center;
  align-items: center;
  p {
    img {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include desktop {
  .narrow {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
  }
}

@include tablet {
  .narrow {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
  }
}
