@import '~bulma/sass/utilities/_all';

.cv {
  transition: width 0.2s;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: zoom-in !important;
  margin-left: auto;
  margin-right: auto;

  p {
    img {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@include tablet {
  .cv {
    width: 70vw;
  }
}

@include desktop {
  .cv {
    width: 50vw;
  }
}

.narrow {
  cursor: zoom-out !important;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}
