$navbar-breakpoint: 400px + 2 * $gap;
nav.navbar {
  border-radius: 0;
  &.is-sticky-custom {
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: $navbar-breakpoint - 1) {
  .navbar > .container {
    overflow-x: hidden;
    width: 100vw;
  }
}
@include touch {
  @media screen and (min-width: $navbar-breakpoint) {
    .navbar > .container {
      padding-left: 22.5px;
      padding-right: 22.5px;
      overflow: hidden;
    }
  }
}
