@charset "utf-8";

// @import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulmaswatch/yeti/variables';

// utilities/_all"
@import '~bulma/sass/utilities/_all.sass';

// base/_all"
@import '~bulma/sass/base/_all.sass';

// form/_all"

$family-sans-serif: 'Work Sans', sans-serif;
$family-primary: 'Work Sans', sans-serif;

@mixin prefer-dark-text {
  color: invert($text);
}

// elements/_all"

@import '~bulma/sass/elements/title.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/content.sass';
@import 'box';

// components/_all"
@import '~bulma/sass/components/panel.sass';
@import '~bulma/sass/components/card.sass';
@import 'card';
@import 'nav';

// grid/_all"
@import '~bulma/sass/grid/_all.sass';

// helpers/_all"
@import '~bulma/sass/helpers/_all.sass';
@import 'typography';

// layout/_all"
@import '~bulma/sass/layout/_all.sass';
@import 'footer';

@import '~bulmaswatch/yeti/overrides';

html {
  scroll-behavior: smooth;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @media (prefers-color-scheme: dark) {
    background-color: $grey-darker;
  }
}

.site-content {
  flex-grow: 1;
}
