@charset "utf-8";

@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulmaswatch/yeti/variables';
@import 'bulma/sass/utilities/_all.sass';

$family-sans-serif: 'Work Sans', sans-serif;
$family-primary: 'Work Sans', sans-serif;

@import 'card';
@import 'footer';
@import 'nav';
@import 'box';

@import '~bulma/bulma';

@import '~bulmaswatch/yeti/overrides';

html {
  scroll-behavior: smooth;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #efefef;
}

.site-content {
  flex-grow: 1;
}
