$timeout: 300;
.defaultStyle {
  position: absolute;
  width: 100vw;
  transition: opacity #{$timeout}ms ease-in;
  opacity: 0;
}

.entering {
  opacity: 0.01;
}

.entered {
  opacity: 1;
}

.exiting {
  opacity: 0.01;
}

.exited {
  opacity: 0;
}
